{% extends "capture/base.html" %}
{% load static %}
{% block title %}Expedientes{% endblock %}
{% block section %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card">
            <div class="card-body">
                <form action="{% url 'capture_app:expediente-editado' %}" method="post"> {% csrf_token %}
                    <div class="form-group py-2">
                        <input type="text" name="id" id="id" class="form-control" value="{{proccedings.id}}" readonly>
                    </div>
                    <div class="form-group py-2">
                        <input type="text" name="status" id="status" class="form-control" value="{{proccedings.id_status}}" required>
                    </div>
                    <div class="form-group py-2">
                        <input type="text" name="request" id="request" class="form-control" value="{{proccedings.id_request}}" required>
                    </div>
                    <div class="form-group py-2">
                        <input type="text" name="accreditation" id="accreditation" class="form-control" value="{{proccedings.id_accreditation}}" required>
                    </div>
                    <div class="form-group py-2">
                        <input type="text" name="constitutive_act" id="constitutive_act" class="form-control" value="{{proccedings.id_constitutive_act}}" required>
                    </div>
                    <div class="form-group py-2">
                        <input type="text" name="identification" id="identification" class="form-control" value="{{proccedings.id_identification}}" required>
                    </div>
                    <div class="form-group py-2">
                        <input type="text" name="location" id="location" class="form-control" value="{{proccedings.id_location}}" required>
                    </div>
                    <div class="form-group py-2">
                        <input type="text" name="plane" id="plane" class="form-control" value="{{proccedings.id_plane}}" required>
                    </div>
                    <div class="form-group py-2">
                        <input type="text" name="comments" id="comments" class="form-control" value="{{proccedings.comments}}" required>
                    </div>
                    <div class="form-group py-2">
                       <button type="submit" class="btn btn-success btn-block text-white">Edit</button> 
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}